@using AddressBooking.Presentation.Models
@model Contact
@{
}
<!-- Modal -->
<div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="contactForm">
                    <div class="form-group">
                        <label asp-for="ContactName"></label>
                        <input class="form-control" asp-for="ContactName" placeholder="Enter contact name">
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactSurname"></label>
                        <input class="form-control" asp-for="ContactSurname" placeholder="Enter contact surname">
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNumber"></label>
                        <input class="form-control" asp-for="ContactNumber" placeholder="Enter contact number">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" placeholder="Enter email">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="AddContact()">Add Contact</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/contact-js/_addContact.js"></script>

