@using AddressBooking.Application
@model ContactDto

@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-body">
    <form method="post" id="contactForm">
        <div class="form-group">
            <label asp-for="ContactName"></label>
            <input class="form-control" asp-for="ContactName" placeholder="Enter contact name">
        </div>
        <div class="form-group">
            <label asp-for="ContactSurname"></label>
            <input class="form-control" asp-for="ContactSurname" placeholder="Enter contact surname">
        </div>
        <div class="form-group">
            <label asp-for="ContactNumber"></label>
            <input class="form-control" asp-for="ContactNumber" placeholder="Enter contact number">
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" placeholder="Enter email">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="UpdateContact()">Update Contact</button>
        </div>
    </form>
</div>
<script type="text/javascript">
function UpdateContact() {
    var form = $("#contactForm");
    var actionUrl = "https://localhost:44382/api/Contact/UpdateContact";

    $.ajax({
        url: actionUrl,
        type: "POST",
        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        data: form.serialize(),
        success: function (data, textstatus, jqXHR) {
            console.log(data);
        },
        error: function (jqXHR, textstatus, exception) {
            console.log(exception);
        }
    });
}    
</script>
<script src="~/js/contact-js/_editContact.js"></script>
