@using AddressBooking.Application
@model ContactDto

@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-body">
    <form method="post" id="contactForm">
        <div class="form-group col-md-6">
            <label asp-for="ContactName"></label>
            <input class="form-control" asp-for="ContactName" placeholder="Enter contact name">
            <span asp-validation-for="ContactName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ContactSurname"></label>
            <input class="form-control" asp-for="ContactSurname" placeholder="Enter contact surname">
            <span asp-validation-for="ContactSurname" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ContactNumber"></label>
            <input class="form-control" asp-for="ContactNumber" placeholder="Enter contact number">
            <span asp-validation-for="ContactNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Age"></label>
            <input class="form-control" asp-for="Age" placeholder="Enter age">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DateOfBirth"></label>
            <input class="form-control" asp-for="DateOfBirth" placeholder="Enter date of birth">
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Address"></label>
            <input class="form-control" asp-for="Address" placeholder="Enter address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-secondary" href="/Contact/Index">Close</a>
            <button type="button" class="btn btn-primary" id="btnUpdateSubmit">Update Contact</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //google.maps.event.addDomListener(window, 'load', initMap);
    });
    function initMap() {
        var input = document.getElementById('Address');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script src="~/js/contact-js/_editContact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl1lxmJtqv-3rH86SXtIfHs-lDOIzlLyI&callback=initMap&libraries=places&v=weekly"
        defer></script>
