@using AddressBooking.Application
@model ContactDto

@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-body">
    <form method="post" id="contactForm">
        <div class="form-group">
            <label asp-for="ContactName"></label>
            <input class="form-control" asp-for="ContactName" placeholder="Enter contact name">
        </div>
        <div class="form-group">
            <label asp-for="ContactSurname"></label>
            <input class="form-control" asp-for="ContactSurname" placeholder="Enter contact surname">
        </div>
        <div class="form-group">
            <label asp-for="ContactNumber"></label>
            <input class="form-control" asp-for="ContactNumber" placeholder="Enter contact number">
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" placeholder="Enter email">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            @*<button type="button" class="btn btn-primary" onclick="AddContact()">Add Contact</button>*@
        </div>
    </form>
</div>
<script src="~/js/contact-js/_editContact.js"></script>
