@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contacts</h1>
<div class="form-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addContactModal">Add Contact</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#uploadContactsModal">Upload Contacts</button>
</div>
<partial name="_AddContact">
    <partial name="_UploadContacts" />
    <div id="contacts">
        <table id="contactTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Contact Name</th>
                    <th>Contact Surname</th>
                    <th>Age</th>
                    <th>DateOfBirth</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="form-group">
        <button type="button" id="exportButton" class="btn btn-secondary">Export TO CSV</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById("exportButton").addEventListener("click", function() {
                var html = document.querySelector("table").outerHTML;
                htmlToCSV(html, "students.csv");
            });
        });
        // Load contact data table
        $('#contactTable').DataTable({
            ajax: {
                url: 'https://localhost:44382/api/Contact/GetContacts',
                dataSrc: '',
            },
            columns: [
                { data: 'id' },
                { data: 'contactName' },
                { data: 'contactSurname' },
                { data: 'age' },
                { data: 'dateOfBirth' },
                { data: 'contactNumber' },
                { data: 'address' },
                {
                    data: "id",
                    render: function(data) {
                        return "<a class='btn btn-primary' href='/Contact/EditContact/" + data + "'>Edit</a> " + "<button class='btn btn-danger' onclick='deleteContact(" + data + ")'>delete</button";
                    }
                }
            ],
        });


    </script>
    <script src="~/js/contact-js/index.js"></script>
